# Emacs files
*~
*#

# Vi/ Vim (not that I expect to use them)
*.sw?

# Other conventions
*.tmp
*.bak
*.secure
*.rsa*
*_rsa*

# OSX
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
